*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 1rem;
}

.banner{
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 2rem;
    background-color: green;
}

.box_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: space-between safe;

}


.box_contain{
    width: 20%;
    padding: 1% 1.5% 0%;
    margin: 1%;
    background-color: blue;
    color: black;
    text-align: center;
}

.idea:hover{
    background-color:red;
}
.idea .main{
    display: block;
}

.idea .hover{
    display: none;
}

.idea:hover .main{
    display: none;
}

.idea:hover .hover{
    display: block;
}



