*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    color: aliceblue;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 1rem;
    
}

body{
    background-color: black;
}

.banner{
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 2rem;
}

.box_container{
    margin: 5vh 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: space-between safe;

}


.box_contain{
    
    padding: 1% 1.5%;
    margin: 1%;
    background-color: black;
    
    text-align: center;
}

.idea:hover{
    background-color:whitesmoke;
    
}
.idea .main{
    display: block;
    color: aliceblue;
}

.idea .hover{
    display: none;
    color: black;
}

.idea:hover .main{
    display: none;
}

.idea:hover .hover{
    display: block;
}



@media only screen and (max-width: 800px) {

    .box_contain{
        width: 90%
    }
}

@media only screen and (min-width: 800px) {
    .box_contain{
        width: 45%
    }
}

@media only screen and (min-width: 1000px) {
    .box_contain{
        width: 25%;
    }
}