
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Righteous&display=swap');


body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    margin: 2rem;
}

ol{
    color: azure;
    font-family: 'Inika', serif;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
}

a{
    color: azure;
    text-decoration: none;
}

div.project_links{
    text-align: center;
    margin: 2rem;
}