body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: aliceblue;
}

li{
    color: azure;
}

a{
    color: azure;
    text-decoration: none;
}

div.project_links{
    text-align: center;
}