body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: aliceblue;
}

ol{
    color: azure;
}

div.project_links{
    text-align: center;
}